#gallery__container {
	overflow-x: hidden;
	overflow-y: visible;
}

.container {
	height: 100vh;
}

#slideshow {
	grid-template-columns: 26% 48% 26%;
	grid-column-gap: 0%;
	grid-template-rows: 100%;
	grid-template-areas: '... slide ...';
	display: grid;
	position: fixed;
	top: 50vh;
	transform: translateY(-50%);
	width: 100vw;
}

.slide {
	display: inline-block;
	height: auto;
	grid-area: slide;
	position: relative;
	width: 100%;
}

.slide > img {
	display: block;
	height: auto;
	width: 100%;
	z-index: 100;
	position:fixed;
	overflow: auto;
	display: flex;


}

.slide__img {
	height: 100%;
	width: 100%;
	/* opacity: 0; */

}

body
/* ,.overlay */
{
	background: #e7ede3;
}

.overlay {
	overflow: hidden;
	opacity: 0;
}

.slide__title {
	color: #000206;
	position: relative;
	display: inline-block;
	font-family: 'Scto Grotesk A';
	margin: 0;
	font-size: 8vw;
	font-weight: 600;
	line-height: 1;
	opacity: 0;
	z-index: 100;
	text-transform: uppercase;
}

.hide__text {
	height: auto;
	position: relative;
	overflow: hidden;
	letter-spacing: -0.5em;
	padding-left: 5%;
}

.overlay {
	right: -1.5px;
	bottom: -1.5px;
	left: -1.5px;
	border: 1px solid deeppink;
	position: static;
	z-index: 2;
	transform-origin: right;
}

.overlay__container {
	height: 100%;
}

.center__slide {
	margin: auto;
}

.title__container {
	height: auto;
	position: fixed;
	z-index: 500;
	top: 50%;
	transform: translateY(-50%);
	width: 110%;
}

::selection{ background-color: transparent;}
::moz-selection{ background-color: transparent;}
::webkit-selection{ background-color: transparent;}

.background__hide-text {
	margin: 0 auto;
	position: fixed;
}

.background__title {
	color: transparent;
  font-size: 17.5vw;
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
	font-family: 'Scto Grotesk A';
	padding: 0;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	padding-top: 2.5%;
}
.background__line-1 {
	bottom: 65vh;
}

.background__line-2 {
	top: 50vh;
	transform: translateY(-50%);
}

.background__line-3 {
	top: 65vh;
	transform: translateX(-10%);
}