#gallery__container {
	overflow-x: hidden;
	overflow-y: visible;
	height: 100vh;
}

.container {
	height: 100vh;
}

#slideshow {
	grid-template-columns: 26% 48% 26%;
	grid-column-gap: 0%;
	grid-template-rows: 100%;
	grid-template-areas: '... slide ...';
	display: grid;
	position: fixed;
	top: 50vh;
	transform: translateY(-50%);
	width: 100vw;
}

.slide {
	display: inline-block;
	height: auto;
	grid-area: slide;
	position: relative;
	width: 100%;
}
.slide > img {
	display: block;
	height: auto;
	width: 100%;
}
.slide__img {
	display: inline-block;
	height: 100%;
	opacity: 0;
	width: 100%;
}

body, .overlay {
	background: #e7ede3;
}

.slide__title {
	color: #000206;
	position: relative;
	display: inline-block;
	font-family: 'Separat';
	top: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 10px;
	font-size: calc(30px + 4vw);
	font-weight: 800;
  line-height: 1;
	opacity: 0;
	z-index: 100;
}

.hide__text {
	height: auto;
	left: -25%;
	position: relative;
	overflow: hidden;
	top: 50%;
	transform: translateY(-100%);
}

.color__overlay,
.overlay {
	position: absolute;
	z-index: 2;
	transform-origin: right;
}

.color__overlay {
	display: block;
	top: unset;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
}

.overlay {
	display: block;
	right: -1.5px;
	bottom: -1.5px;
	left: -1.5px;
}

.center__slide {
	margin: auto;
}


.title__container {
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 50%;
	transform: translateY(-50%);
}


::selection{ background-color: transparent;}
::moz-selection{ background-color: transparent;}
::webkit-selection{ background-color: transparent;}