#gallery__container {
	overflow-x: hidden;
	overflow-y: visible;
	height: 100vh;
}

.container {
	height: 100vh;
}

#slideshow {
	grid-template-columns: 26% 48% 26%;
	grid-column-gap: 0%;
	grid-template-rows: 100%;
	grid-template-areas: '... slide ...';
	display: grid;
	position: relative;
	top: 50vh;
	transform: translateY(-50%);
	width: 100vw;
}

#background__text > * {
	/* width: 2000px; */
	font-size: 50px;
	position: fixed;
	color: #326855;
}

.slide {
	display: inline-block;
	height: auto;
	grid-area: slide;
	position: relative;
	width: 100%;
}
.slide > img {
	display: block;
	height: auto;
	width: 100%;
}
.slide__img {
	display: inline-block;
	height: 100%;
	opacity: 0;
	width: 100%;
}

body, .overlay {
	background: #2a5848;
}

.slide__title {
	color: #1f1f1c;
	display: inline-block;
	font-family: 'Trebuchet MS';
	font-weight: 800;
	font-size: 5vw;
	height: 10px;
	letter-spacing: -1px;
  line-height: 1.074;
	opacity: 0;
	position: relative;
	text-align: left;
	top: 50px;
	z-index: 100;
	text-transform: uppercase;
}
.hide__text {
	display: block;
	width: 120%;
	left: -25%;
	position: relative;
	overflow: hidden;
	top: -50%;
	/* background: purple; */
}
.color__overlay,
.overlay {
	position: absolute;
	z-index: 2;
	transform-origin: right;
	/* height: 3px; */
}
.color__overlay {
	display: block;
	top: unset;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
}
.overlay {
	/* min-height: 20px; */
	display: block;
	right: -1.5px;
	bottom: -1.5px;
	left: -1.5px;
	/* background: white; */
}

.center__slide {
	margin: auto;
}

.content__title,
.content__subtitle,
.content__number,
.content__text,
.content__close {
	opacity: 0;
}

.content {
	height: calc(100% - 10rem);
	left: 0;
	top: 10rem;
	pointer-events: none;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.content__item {
	height: 100%;
	padding: 10vh 5vw;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.title__container {
	position: fixed;
	z-index: 1000;
	top: 50%;
	transform: translateY(-50%);
	/* text-align: center; */
}


::selection{ background-color: transparent;}
::moz-selection{ background-color: transparent;}
::webkit-selection{ background-color: transparent;}