#intro {
	font-family: "Titillium Web";
  font-size: 16px;
	overflow: hidden;
	align-items: center;
}

#intro__box,
#intro__logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 82px;
	height: 82px;
	background: var(--color-logo-bg);
	opacity: 1;
}

#intro__box {
	transform-origin: 0 0;
	z-index: 0;
	background: #009767;
	overflow: hidden;
}

#no-js #intro__box {
	width: 100%;
	height: 100vh;
}

#intro__logo {
	background: transparent;
	display: flex;
	align-items: center;
	color: #000;
	pointer-events: auto;
	cursor: pointer;
}

#icon--arrowup {
	width: 1.25rem;
	height: 1.25rem;
	left: 30px;
	top: 30px;
	position: fixed;
}

#intro__title-wrap {
	text-align: center;
	position: relative;
	z-index: 100;
	margin-top: 6rem;
}

#intro__title {
	font-size: 90px;
	letter-spacing: -0.15rem;
	margin: 0 0 1.5rem;
	line-height: 0.5;
	text-transform: lowercase;
}

#icon--arrowup {
	width: 50px;
	height: 50px;
	z-index: 4000;
}

#header {
	margin-top: 35px;
	font-size: 57.3px;
  font-family: "Blender Pro Book";
  color: rgb(254, 254, 255);
	font-weight: 100;
  line-height: 0.965;
	padding-bottom: 35px;
	max-width: 650px;
	letter-spacing: -1px;
}

#intro__enter {
	font-family: "Blender Pro Book";
  font-size: 33.2px;
  color: rgb(255, 255, 255);
	letter-spacing: -1px;
	position: fixed;
	margin-left: -145px;
	margin-top: 22px;
}

#shape {
	top: -118px;
	position: relative;
	height: 220px;
}

#header,
#description-1,
#description-2 {
	text-align: left;
}

#description-1,
#description-2 {
	color: #100f0f;
}

#description__center {
	position: fixed;
	top: 50vh;
	margin-top: -228px;
  line-height: 1.302;
}

ul {
	position: fixed;
	list-style: none;
	text-align: left;
	bottom: 25px;
}

#media__links {
	bottom: 10px;
}

#media__links li a {
	color: #100f0f;
	z-index: 400;
}

#media__links li a:hover,
#email__link:hover {
	text-decoration: underline;
}

#media__links li a,
#email__link {
	text-decoration: underline solid transparent;
  transition: text-decoration 0.4s ease;
}

#email__link {
	color: #100f0f;
	position: fixed;
	list-style: none;
	text-align: right;
	right: 30px;
	bottom: 26px;
	z-index: 400;
}

#patch__icon {
	color: #009767;
	position: fixed;
	list-style: none;
	right: 30px;
	top: 30px;
	z-index: 400;
	width: 130px;
	height: 60px;
	background: #100f0f;
	padding-top: 10px;
  line-height: 1.2;
}

#location {
	position: fixed;
	right: 10px;
	top: 50vh;
	margin-top: -122px;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

@media screen and (min-width: 1216px) {
	#description__center {
		margin-top: -196px;
	}
	#shape {
		top: -94px;
	}
	#intro__enter {
		margin-top: 45px;
	}
}

@media screen and (max-width: 991px) {
	#header {
		max-width: unset;
		font-size: 47.7px;
		padding-bottom: 30px;
	}
	#shape {
		top: -29px;
		height: 180px;
	}
	#intro__enter {
		font-size: 27.6px;
		margin-left: -118px;
		margin-top: 86px;
	}
	#description__center {
		margin-top: -193px;
	}
}

@media screen and (max-width: 861px) {
	#header {
		padding-bottom: 10px;
	}
	#description__center {
		margin-top: -217px;
	}
	#shape {
		top: -31px;
	}
	#intro__enter {
		margin-top: 84px;
	}
}

@media (max-width: 767.98px) {
	#description-1,
	#description-2 {
		display: none;
	}
	#description__center {
		margin-top: -92px;
	}
	#header {
		min-width: 250px;
		font-size: 39.8px;
	}
	#shape {
		margin-top: -137px;
	}
	#intro__enter {
		margin-top: -53px;
	}
}

@media (max-width: 722px) {
	#description__center {
		margin-top: -111px;
	}
	#shape {
		margin-top: -157px;
	}
	#intro__enter {
		margin-top: -72px;
	}
}

@media (max-width: 575.98px) {
	#shape {
		display: inline-block;
		margin-top: 10px;
	}
	#description__center {
		margin-top: -194px;
	}
	#header {
		font-size: 33.2px;
		text-align: center;
		padding-bottom: 56px;
	}
	#intro__enter {
		display: inline-block;
		margin-top: 94px;
	}
}

@media (max-width: 457px) {
	#shape {
		margin-top: -14px;
	}
	#intro__enter {
		display: inline-block;
		margin-top: 70px;
	}
	#header {
		padding-bottom: 48px;
	}
}