.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

#intro {
	font-family: "Proxima Nova";
  font-size: 19.2px;
	overflow: hidden;
	color: black;
	/* Prevent Bluring of transformed elements */
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	font-weight: 400;
	letter-spacing: 0.166px;
	line-height: 1.406;
	position: fixed;
	top: 0;
}

#intro__box,
#intro__logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 82px;
	height: 82px;
	background: var(--color-logo-bg);
	opacity: 1;
}

#intro__box {
	transform-origin: 0 0;
	z-index: 0;
	background: #847e95;
	overflow: hidden;
}

#no-js #intro__box {
	width: 100%;
	height: 100vh;
}

#intro__title-wrap {
	/* padding-top: 30px; */
	position: relative;
	/* position: fixed; */
	z-index: 100;
	height: 100vh;
}

#icon--arrowup {
	width: 40px;
	height: 40px;
	left: 30px;
	top: 30px;
	position: fixed;
	z-index: 500;
}

#intro__title {
	font-size: 9.4vh;
  font-family: "Blender Pro Medium";
	font-weight: 100;
  line-height: 0.965;
	letter-spacing: -1px;
	/* max-height: 175px; */
	color: black;
	/* transform: translateY(50%); */
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#intro__enter {

	transform: translateX(-150%);
	left: 4px;
	position: relative;
	font-family: "Blender Pro Book";
  font-size: 2vh;
  color: rgb(255, 255, 255);
	letter-spacing: -1px;
	z-index: 1000;
	text-align: center;
}

#intro__title-center {
	position: relative;
  top: 29vh;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);

}

#description-row {
	position: absolute;
	top: 68vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 1.2;
}
#description__1,
#description__2 {
	margin-top: 30px;
	/* max-height: 110px; */
}

ul {
	list-style: none;
}

#patch__icon {
	color: #847e95;
	position: fixed;
	list-style: none;
	right: 30px;
	top: 30px;
	z-index: 400;
	width: 150px;
	height: 60px;
	background: #100f0f;
	padding-top: 6.5px;
	line-height: 1.2;
	text-align: center;
}
#location {
	position: relative;
	top: 50vh;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	text-align: center;
	padding-top: 16px;
	padding-right: 1px;
	width: 20px;
}
#location-wrap {
	position: fixed;
	transform: translateY(-50%);
	right: 0;
	padding-right: 5px;
}
#media__links {
	color: black;
	position: fixed;
	list-style: none;
	left: 0;
	bottom: 6px;
	z-index: 400;
	text-align: left;
	/* line-height: 1.2; */
}

#media__links li a {
	color: black;
	z-index: 400;
}

#media__links li a:hover,
#email__link:hover {
	text-decoration: underline;
}

#media__links li a,
#email__link {
	text-decoration: underline solid transparent;
  transition: text-decoration 0.4s ease;
}

#email__link {
	color: black;
	position: fixed;
	list-style: none;
	text-align: right;
	right: 30px;
	bottom: 25px;
	z-index: 400;
}

#shape {
	height: 24vh;
	margin-top: 15px;
	position: relative;
	min-height: 195px;
	max-height: 240px;
}

@media (max-width: 767.98px) {
	#description__1,
	#description__2 {
		display: none;
	}
	#intro__title {
		/* min-width: 250px; */
		font-size: 39.8px;
		text-align: center;
	}
	#description-row {
		position: relative;
		top: 50vh;
	}
	#location {
		display: none;
	}
}