#intro {
	font-family: "Titillium Web";
  font-size: 16px;
	overflow: hidden;
	/* align-items: center; */
	color: #100f0f;

	/* Prevent Bluring of transformed elements */
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#intro__box,
#intro__logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 82px;
	height: 82px;
	background: var(--color-logo-bg);
	opacity: 1;
}

#intro__box {
	transform-origin: 0 0;
	z-index: 0;
	background: #847e95;
	overflow: hidden;
}

#no-js #intro__box {
	width: 100%;
	height: 100vh;
}

#intro__title-wrap {
	/* padding-top: 30px; */
	position: relative;
	z-index: 100;
	height: 100vh;
}

#icon--arrowup {
	width: 40px;
	height: 40px;
	left: 30px;
	top: 30px;
	position: fixed;
}

#intro__title {
	font-size: 68.7px;
  font-family: "Blender Pro Medium";
	font-weight: 100;
  line-height: 0.965;
	letter-spacing: -1px;
	max-height: 175px;
	/* background: blue; */
	/* transform: translateY(50%); */
}

#intro__title-center {
	position: relative;
  top: 30vh;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);
	/* background: goldenrod; */
}

#descriptions {
	position: absolute;
	top: 70vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);
	/* background: firebrick; */
}

#description__1,
#description__2 {
	min-height: 180px;
}

ul {
	list-style: none;
}

#patch__icon {
	color: #847e95;
	position: fixed;
	list-style: none;
	right: 30px;
	top: 30px;
	z-index: 400;
	width: 130px;
	height: 60px;
	background: #100f0f;
	padding-top: 10px;
	line-height: 1.2;
	text-align: center;
}

#location {
	position: fixed;
	right: 10px;
	top: 50vh;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	text-align: center;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#media__links {
	color: #100f0f;
	position: fixed;
	list-style: none;
	left: 0;
	bottom: 10px;
	z-index: 400;
	text-align: left;
}

#media__links li a {
	color: #100f0f;
	z-index: 400;
}

#media__links li a:hover,
#email__link:hover {
	text-decoration: underline;
}

#media__links li a,
#email__link {
	text-decoration: underline solid transparent;
  transition: text-decoration 0.4s ease;
}

#email__link {
	color: #100f0f;
	position: fixed;
	list-style: none;
	text-align: right;
	right: 30px;
	bottom: 25px;
	z-index: 400;
}

#shape {
	top: 0;
	height: 220px;
	transform: translateY(-60%);
	/* min-height: 175px; */
}

@media (max-width: 1199.98px) {
	#intro__title {
		/* padding-top: 30px; */
		font-size: 57.3px;
	}
	#shape {
		height: 200px;
		transform: translateY(-30%);

	}
}

@media (max-width: 991.98px) {
	#intro__title {
		font-size: 47.3px;
	}
	#intro__title-wrap {
		min-height: 150px;
	}
	#shape {
		height: 180px;

	}
	#description {
		max-height: 150px;
	}
}