.background__hide-text {
	margin: 0px;
	padding: 0px;
	position: fixed;
	display: flex;
	overflow: hidden;
}

.background__reveal {
	opacity: 0;
}

.background__title {
	position: relative;
	color: transparent;
  font-size: 17.5vw;
	margin: 0;
	line-height: 1;
	font-family: 'Scto Grotesk A';
	padding: 0;
	-webkit-text-stroke-width: 1.5px;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-text-stroke-color: #0A0809;
	transform: translateY(6.5%);
	line-height: 0.75;
}

.background__description {
	position: relative;
	display: inline-block;
	font-family: 'Scto Grotesk A';
	font-size: 16px;
	margin: 0;
	min-width: 25vw;
	color: #22211D;
	align-self: flex-end;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: -2px;
	opacity: 0;
	/* background: saddlebrown; */
}

.background__line-1 {
	bottom: 65vh;
	width: 140vw;
	padding-bottom: 3%;
	padding-top: 3%;
}

.background__line-2 {
	top: 50vh;
	transform:
		translateY(-50%)
		translateX(-10.2%)
	;
	width: 140vw;
}

.background__line-3 {
	top: 65vh;
	transform: translateX(-5%);
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	padding-bottom: 3%;
	padding-top: 3%;
}