#background {
  height: 100vh;
  width: 100vw;
  background: #1e2020;
  position: fixed;
  font-family: 'Separat';
  z-index: -100;
  /* text-transform: uppercase; */
}

.hide__splash-text {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slash__container {
  overflow: hidden;
  /* background: khaki; */
}

.web, .design, .slash, .develop {
  color: #fafafa;
  margin: 0;
  line-height: 1.2;

}

.web {
  text-align: center;
  margin: 0;
}

.slash {
  margin: 0;
}

.design {
  right: 0px;
}

.splash__title  {
  /* background: tomato; */
  margin-top: -10px;
  position: relative;
  font-size: 6vw;
  top: 50%;
  transform: translateY(-50%);
}

.title__text, .slash, .side__item {
  opacity: 0;
}

.title__text {
  /* text-transform: uppercase; */
}

.row {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}


.name {
  transform: rotate(90deg) translateX(25%);
  top: 0;
  margin-top: 40px;
  /* background: tomato; */

}

.location {
  transform: rotate(90deg) translateX(-50%);
  margin-top: 25px;
  top: 50vh;
}

.time {
  transform: rotate(90deg) translateX(-50%);
  bottom: 0;
}

.job__description-1 {
  transform: rotate(90deg) translateX(-50%);
  margin-top: 10px;
  margin-right: 25px;
  top: 25%;
  right: -14px;
}

.job__description-2 {
  transform: rotate(90deg) translateX(50%);
  margin-bottom: 45px;
  margin-right: 25px;
  bottom: 25%;
  right: -48px;
}

.side__items {
  top: 0;
  font-size: 26px;
  line-height: 1;
}

.side__items > * {
  position: fixed;
  color: #FAFAFA;
}