#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #232323;
  padding: 20px 40px 20px 40px;
}

.splash__title, .splash__info {
  font-family: 'Separat';
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 60px;
}

.splash__title {
  color:#fefdec;
  font-size: 57.3px;
  line-height: 80px;
  padding-top: 10px;
}

.splash__info {
  font-size: 19px;
  position: absolute;
  bottom: 0;
  font-family: 'Separat';
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

.click {
  position: relative;
  top: -30px;
  font-family: 'Separat';
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

h2 {
  /* -webkit-text-stroke: 1px white; */
  color: white;
}

.text__stroke {
  -webkit-text-stroke: 1px white;
  color: #232323;
}