@font-face {
  font-family: "Blender Pro Medium";
  src: url(../src/assets/fonts/BlenderPro-Medium.otf);
}

@font-face {
  font-family: "Blender Pro Book";
  src: url(../src/assets/fonts/BlenderPro-Book.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
